body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
    background-image: url(./yo.jpeg);
    background-repeat:no-repeat;
    background-size: 100%;
}

header {
    background-color:  #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #ffffff;
    height: 150px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
}

section {
    padding: 20px;
    border: 2px solid #000000;
    margin-bottom: 20px;
    background-color:rgba(0, 0, 0, 0.20);

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

iframe {
    width: 640px;
    height: 360px;
    margin-bottom: 20px;
}

video {
    width: 640px;
    height: 360px;
    margin-bottom: 20px;
   
}

.boton-scroll-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #020202;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    display: none;
}

.boton-scroll-arriba:hover {
    opacity: 1;
}
.boton1{
    background-color: rgba(100, 100, 100, 0.863);
    border-color: #d3d3d3;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
    border-radius: 20px;
    margin: 20px;
}
.botonfotos{
    background-color: rgba(0, 0, 0, 0.863);
    border-color: #696464;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
    border-radius: 20px;
}
.piedepag{
 
    background-color: #000000;
    border-color: #635f63;
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 2px;
    color: #ffffff;
    height: 30px;
    text-align: center
    

}
.carta{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: #ffffff;
}
.capturas{
    margin: 10px;
   
}
.galeria2{
    margin: 15px;
}